.s-m-p-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.s-m-p-l-container {
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.s-m-p-r-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    background-color: transparent !important;
}

.s-m-p-r-container,
.s-m-p-l-container {
    flex: 1;
    height: 100%;
}

.s-m-p-r-holder {
    position: relative;
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.s-m-p-r-form {
    position: relative;
    width: 100%;
    height: 100%;
}

.s-m-p-alr-h-acc {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 20px;
}

.s-m-p-alr-h-ttx, 
.s-m-p-alr-h-ttx-btn {
    font-size: 14px;
}

.s-m-p-alr-h-ttx {
    margin-right: 10px;
    font-weight: 400;
}

.s-m-p-alr-h-ttx-btn {
    margin-right: 25px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.s-m-p-main-container {
    display: flex;
    flex-direction: column;
    padding: 45px;
    justify-content: center;
}

.s-m-p-main-ttx {
    display: flex;
    width: 100%;
    max-width: 450px;
    margin-bottom: 25px;
}

.s-m-p-main-ttl {
    font-weight: 550;
    font-size: 20px;
}

.s-m-p-r-form-bx {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.s-m-p-r-form-cnt {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    height: auto;
    justify-content: center;
    margin-bottom: 10px;
}

.s-m-p-r-form-txt {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 3px;
}

.s-m-p-r-form-txt-ix {
    font-size: 11px;
    font-weight: 500;
}

.s-m-p-r-form-inpt {
    width: 100%;
    height: 40px;
    padding: 15px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 8px;
    transition: background-color 0.3s, color 0.3s, border 0.3s, box-shadow 0.3s;
}

.s-m-p-r-form-inpt:active,
.s-m-p-r-form-inpt:focus,
.s-m-p-r-form-inpt:hover {
	border: 1px solid blue;
    outline: none; 
}

.s-m-p-r-form-lbtn {
    display: flex;
    width: 100%;
    max-width: 450px;
    height: 50px;
    background-color: rgb(32, 32, 32);
    border-radius: 8px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s background-color;
}

.s-m-p-r-form-lbtn:hover {
    background-color: rgb(59, 59, 59);
}

.s-m-p-r-form-lbtn p{ 
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.s-m-p-r-form-lbtnx {
    margin-left: 10px;
    font-size: 12px;
}

@media (max-width: 1012px) {
    .s-m-p-alr-h-acc {
        display: none;
    }

    .s-m-p-r-form-bx {
        margin-top: 30px;
    }

    .s-m-p-wrapper {
        flex-direction: column;
        height: 100vh;
        position: relative;
    }

    .s-m-p-l-container {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .s-m-p-r-container {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        background-color: transparent !important;
        width: 100%;
        height: 100vh;
        margin-top: 240px;
    }
}
